<p>
  S1 {{ s1RemainingDeadTime | timer }}
  <br>
  S2 {{ s2RemainingDeadTime | timer }}
  <br>
  Turan {{ turanRemainingDeadTime | timer }}
  <br>
  Barsha {{ barshaRemainingDeadTime | timer }}
  <br>
  Balkarya {{ balkaryaRemainingDeadTime | timer }}
  <br>
  Quieze {{ quiezeRemainingDeadTime | timer }}
  <br>
  Beagrid {{ beagridRemainingDeadTime | timer }}
  <br>
  North {{ northRemainingDeadTime | timer }}
  <br>
  East {{ eastRemainingDeadTime | timer }}
  <br>
  South {{ southRemainingDeadTime | timer }}
  <br>
  West {{ westRemainingDeadTime | timer }}
  <br>
  Drake {{ drakeRemainingDeadTime | timer }}
  <br>
  Queen {{ queenRemainingDeadTime | timer }}
  <br>
  Moule {{ mouleRemainingDeadTime | timer }}
</p>
