<div id="mydiv">

  <mat-form-field class="example-full-width">
    <input [(ngModel)]="hours" (change)="setHours()" type="number" matInput placeholder="Hours">
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input [(ngModel)]="minutes" (change)="setMinutes()" type="number" matInput placeholder="Minutes">
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input [(ngModel)]="seconds" (change)="setSeconds()" type="number" matInput placeholder="Seconds">
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>

  <mat-slide-toggle>toggle Night Mode</mat-slide-toggle>

  <button mat-raised-button (click)="toggleNightMode()">Night Mode {{ nightMode }}</button>


  <p>
    {{ countedTotalSeconds | timer }}
  </p>

  <button mat-raised-button (click)="toggleStartStop()">{{ startStop }}</button>
  <button mat-raised-button (click)="resetCount()">reset</button>

  <mat-button-toggle-group name="fontStyle" [(value)]="selectedCountMode" aria-label="Font Style">
    <mat-button-toggle value="countDown">Count Down</mat-button-toggle>
    <mat-button-toggle value="CountUp">Count Up</mat-button-toggle>
  </mat-button-toggle-group>
</div>
