<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">Responsive Timer App</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <!-- <div mat-list-item routerLink=".">Night Mode
          <mat-slide-toggle (change)="toggleNightMode()"></mat-slide-toggle>
        </div> -->
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="spacer-left-right">
        <mat-form-field class="example-full-width">
          <input [(ngModel)]="hours" (change)="calcTotalSeconds(); ga.setHours(hours+':'+minutes+':'+seconds)" type="number" min="0"
            matInput placeholder="Hours">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input [(ngModel)]="minutes" (change)="calcTotalSeconds(); ga.setMinutes(hours+':'+minutes+':'+seconds)" type="number" min="0"
            matInput placeholder="Minutes">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input [(ngModel)]="seconds" (change)="calcTotalSeconds(); ga.setSeconds('clear input')" type="number" min="0"
            matInput placeholder="Seconds">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>

        <p>
          <button mat-raised-button (click)="clearInput(); ga.clearInput(hours+''+minutes+''+seconds)" [disabled]="disableStart">clear input</button>
        </p>

        <mat-divider></mat-divider>


        <p class="time">
          {{ countedTotalSeconds | timer:selectedTotalSeconds:countingDownMode }}
        </p>

        <button mat-raised-button (click)="toggleStartStop(); ga.toggleStartStop(startStop)" [disabled]="disableStart">{{ startStop }}</button>
        <button mat-raised-button (click)="resetCount(); ga.toggleReset('reset')" [disabled]="disableStart">reset</button>

        <!-- Toggle Lap Seconds
        <mat-slide-toggle (change)="toggleLapSeconds()"></mat-slide-toggle>
        <mat-form-field class="example-full-width">
          <input [(ngModel)]="lapSeconds" (change)="calcTotalSeconds()" type="number" min="0" matInput placeholder="Seconds">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field> -->

        <div class="big-divider-space"></div>

        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b>Options</b>
              </mat-panel-title>
              <mat-panel-description>
                {{ panelOpenState ? 'hide' : 'open' }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider class="option"></mat-divider>

            <div class="option">
              <mat-button-toggle-group name="fontStyle" [(value)]="selectedCountMode" (change)="toggleCountingUpDown(); ga.toggleCountingUpDown(countingDownMode);"
                aria-label="Font Style">
                <mat-button-toggle value="countUp">Count Up</mat-button-toggle>
                <mat-button-toggle value="countDown">Count Down</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            <mat-divider class="option"></mat-divider>

            <div class="option">
              Night Mode
              <mat-slide-toggle (change)="toggleNightMode(); ga.toggleNightMode(theme);"></mat-slide-toggle>
            </div>
            <mat-divider class="option"></mat-divider>

            <div class="option">
              <mat-button-toggle-group name="fontStyle" [vertical]=true [(value)]="chosenAlarmSound" (change)="selectAlarm(chosenAlarmSound); ga.selectAlarm(chosenAlarmSound);"
                aria-label="Font Style">
                <mat-button-toggle value="bed-alarm">Bed Alarm</mat-button-toggle>
                <mat-button-toggle value="cuckoo-bird">Cuckoo Bird</mat-button-toggle>
                <mat-button-toggle value="old-phone">Old Phone</mat-button-toggle>
                <mat-button-toggle value="twin-bell">Twinn Bell</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            <mat-divider class="option"></mat-divider>

          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
